---
import '../styles/global.css';

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter.title || "Note"}</title>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="nav-bar">
      <nav class="nav-container">
        <h1 class="nav-title">
          <a href="/">notes</a>
        </h1>
        <nav class="nav-menu">
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
      </nav>
    </header>

    <main class="content-container">
      <slot />
    </main>
</body>
</html>

